<!-- filepath: /c:/Users/duduc/.vscode/Projetos/Acupuntura/acupuncture-api/templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Pontos de Acupuntura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bem-vindo à API de Pontos de Acupuntura!</h1>
    <p>Use os seguintes endpoints:</p>
    <ul>
        <li><a href="/api/points">/api/points</a> - Obter todos os pontos de acupuntura (JSON)</li>
        <li><a href="/points">/points</a> - Obter todos os pontos de acupuntura (HTML)</li>
    </ul>
    <h2>Pesquisar Pontos de Acupuntura</h2>
    <form action="/search" method="get">
        <label for="query">Nome do Ponto:</label>
        <input type="text" id="query" name="query">
        <input type="submit" value="Pesquisar">
    </form>
    <h2>Pesquisar Meridianos</h2>
    <form action="/search_meridians" method="get">
        <label for="query">Nome do Meridiano:</label>
        <input type="text" id="query" name="query">
        <input type="submit" value="Pesquisar">
    </form>
</body>
</html>